/*~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-*/

/* TENTHS */

.db1 { width: 10%; }
.db2 { width: 20%; }
.db3 { width: 30%; }
.db4 { width: 40%; }
.db5 { width: 50%; }
.db6 { width: 60%; }
.db7 { width: 70%; }
.db8 { width: 80%; }
.db9 { width: 90%; }

/* DIVIDED FROM 100 */

.do3 { width: 33.33% }
.do4 { width: 25% }
.do5 { width: 20% }
.do6 { width: 16.67% }
.do8 { width: 12.5% }

/*~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-*/

.row { display: flex; flex-direction: row; }
.column { display: flex; flex-direction: column; }

/*~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-*/

.txt-center { text-align: center; }
.txt-right { text-align: right; }
.txt-left { text-align: left; }
.txt-justify { text-align: justify; }

/*~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-*/

.margin { margin-left: auto; margin-right: auto;}
.center img { margin-left: auto; margin-right: auto; }
.radius { border-radius: 100%; }

/*~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-*/

/*rainbow link animation*/
@keyframes rainbowLink {
    0% { background-color: #9bd8c8; }
    10% { background-color: #f6b056; }
    20% { background-color: #f6f056; }
    30% { background-color: #b6f656; }
    40% { background-color: #91a7f4; }
    50% { background-color: #ddb6f0; }
    70% { background-color: #f0b6ea; }
    80% { background-color: #eb7e97; }
    90% { background-color: #f27163; }
    100% { background-color: #63f294; }
}


