body {
    display: flex; flex-direction: column;
    width: 100vw; height: 100vh;
    background-color: #007C7D;
    overflow: hidden;
    font-family: "Lucida Console", "Lucida Sans Typewriter", "Bitstream Vera Sans Mono", monospace;
}

.pseudobody {
    display: flex; flex-direction: row;
    width: inherit; height: 100%;
}
.taskbar {
    width: 100vw; height: 42px;
    position: absolute; bottom: 0;
    background-color: silver; margin-bottom: -15px;
}
#left, #right { margin: 2% 0; height: 100%; }
#left { 
    width: 350px;
    display: flex; flex-direction: column; 
    flex-wrap: wrap; overflow: hidden;
    /*background-color: aliceblue;*/
}
#left button {
    background: none; border:none;
    text-align: center; width: 98px; height: 98px;
    margin: 0 auto; color: snow;
}
#left button img {
    display: block;
    margin: 0 auto; padding-bottom: 5px;
}


#right {
    width: 100%;
    /*background-color: palegreen;*/ 
}

input:focus, select:focus, textarea:focus, button:focus { outline: none; }