/*rainbow link animation*/
@keyframes rainbowLink {
    0% { background-color: #9bd8c8; }
    10% { background-color: #f6b056; }
    20% { background-color: #f6f056; }
    30% { background-color: #b6f656; }
    40% { background-color: #91a7f4; }
    50% { background-color: #ddb6f0; }
    70% { background-color: #f0b6ea; }
    80% { background-color: #eb7e97; }
    90% { background-color: #f27163; }
    100% { background-color: #63f294; }
}

body {
    display: flex; flex-direction: column;
    width: 100vw; height: 100vh;
    background-color: #007C7D;
    overflow: hidden;
    font-family: "Lucida Console", "Lucida Sans Typewriter", "Bitstream Vera Sans Mono", monospace;
}

.pseudobody {
    display: flex; flex-direction: row;
    width: inherit; height: 100%;
}

#mobilewarning { display: none; }

@media screen and (max-width: 720px ) {
    .pseudobody, .taskbar { display: none !important; }
    #mobilewarning { display: block; margin: auto 0;}
}

input:focus, select:focus, textarea:focus, button:focus { outline: none; }
/* REMOVES HIGHLIGHT FROM INPUT, BUTTONS, ETC. */

/****************************************************************/
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                TABLE OF CONTENTS
            -- -- -- -- -- -- -- --
↟↟↟ ↥   Animations Setup, General Body/HTML Formatting // Body-Color-Buttons-Settings, Mobile Warning

↡↡↡ ↧   Desktop, Taskbar, Left/Right, Windows
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/****************************************************************/

/*~=~=~~=~=~~=~=~~=~=~~=~=~~=~ -- TASKBAR -- ~=~~=~=~~=~=~~=~=~~=~=~~=~=~*/
.taskbar {
    width: 100vw; height: 42px;
    position: absolute; bottom: 0;
    display: flex; flex-direction: row;
    background-color: silver; margin-bottom: -1px;
    border-top: 1.5px inset aliceblue; padding: 0 .5%;
    font-family: Consolas, monaco, monospace; 
}
.task-left, .task-right { width: 20%; height: inherit; margin-top: 5px; }
.task-cntr { width: 60%; height: inherit; }
.task-right { text-align: right; }
.taskbar img { height: 25px; margin: auto 0; }
.task-left button {
    height: 30px;
    border: 1px inset black;
}
.taskbar button img { height: 25px; padding-right: 8px; }
.t-substart, .t-subsubstart {
    display: none;
    position: absolute; font-size: 18px;
    background-color: silver;
    border-right: 2px groove lightslategray;
    z-index: 1;
}
.t-substart img, .t-subsubstart img {
    margin-left: 10px; padding-right: 10px;
    height: 32px;
}
.t-substart {
    flex-direction: column-reverse; 
    width: 275px; height: auto;
    bottom: 42px; left: -5px; 
}
.t-substart a {
    display: flex; flex-direction: row;
    width: 100%; color: darkslategray;
    text-decoration: none; padding: 2% 0;
}
.t-substart span { color: black; }
.taskbar button:hover, .t-substart a:hover, .t-subsubstart a:hover {
    animation: rainbowLink;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    color: black; cursor: pointer;
}
.taskbar button:hover .t-substart { display: flex; }
.t-subsubstart {
    left: 275px; bottom: 260px;
    width: 275px; height: 130px;
    z-index: 1;
}
.task-cntr button {
    display: none;
    animation: none !important;
    width: auto;
    border: .8px dashed slategray;
    margin-top: 6px;
}
.task-cntr button img { height: 22px; }
@media screen and (max-width: 150px ) {
    .task-cntr button span { display: none !important; }
    .task-cntr button img { margin: 0 auto; } /* yIkEs */
}

/*~=~=~~=~=~~=~=~~=~=~~=~=~~=~ -- L/R -- ~=~~=~=~~=~=~~=~=~~=~=~~=~=~*/
#left, #right { margin: 2% 0; height: 100%; }
                                                 /* ----- LEFT ----- */
#left {
    width: 350px;
    display: flex; flex-direction: column; 
    flex-wrap: wrap; overflow: hidden;
    /*background-color: aliceblue;*/
}
#left button {
    background: none; border:none;
    text-align: center; width: 98px; height: 98px;
    margin: 0 auto; color: snow;
}
#left button img {
    display: block;
    margin: 0 auto; padding-bottom: 5px;
}
                                                /* ----- RIGHT ----- */
#right {
    width: 100%;
    /*background-color: palegreen;*/ 
}